body {
    font-family: Consolas, "Courier New", monospace;
    font-size: 12px;
}

textarea {
    overflow: auto;
    white-space: pre;
    height: 400px;
    width: 100%;
}

#gameContainer {
    float: left;
}

#sideContainer {
    float: left;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid black;
    height: 100%;
}

input, button, textarea {
    font-family: inherit;
    font-size: inherit;
}

h1 {
    text-align: center;
}